
.results-box__filters-box {
  margin-bottom: 15px;
  width: 100%;
  border: 1px solid #c6d2d9;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 15px 0;
}

.results-box__filters-box > h3 {
  text-transform: uppercase;
}

.results-box__filters-box > div {
  padding: 5px 15px;
  text-align: left;
}

.filters-box__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filters-box__heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 220px;
}

.filters-box__heading :first-child {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
}

.filters-box__heading :last-child {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}

.filters-box__heading + input {
  display: block;
  margin: 0 auto
}

.results-box__completion-box {
  min-height: 100px;
  width: 100%;
  border: 1px solid #c6d2d9;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 15px 15px 10px;
}

.results-box__messages-start h3 {
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
}

.results-box__cities-count {
  padding-left: 15px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.results-box__get-loader-box, .results-box__get-loader-box-2 {
  padding: 25px 0 25px;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
}

.results-box__get-loader-box-2 {

}

.results-box__get-data-box button {
  width: 100%;
  border-radius: 3px;
  background-color: #ff8484;
  border: 1px solid #ff8484;
  padding: 10px 0;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 7px 0;
  text-align: center;
}

.results-box__get-data-box button:disabled {
  background-color: #e5eaed;
  border: 1px solid #c6d2d9;
  color: #888;
  cursor: unset;
}

.results-box__companies-results-box h3 {
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
}

.results-box__companies-results-box {
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
}

.results-box__companies-results-box > div {
  padding-left: 15px;
}

.results-box__full-price {
  margin: 0 0 5px 0;
}

.results-box__full-price span {
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
}

.results-box__companies-results-box form input {
  font-weight: 400;
  font-size: 14px;
  width: 100%;
  height: 36px;
  padding: 0 8px;
  border: 1px solid #c6d2d9;
  margin-bottom: 5px;
}

.results-box__companies-results-box form label {
  font-weight: 400;
  font-size: 14px;
  color: #666
}

.results-box__companies-results-box form button {
  width: 100%;
  border-radius: 3px;
  background-color: #ff8484;
  border: 1px solid #ff8484;
  padding: 10px 0;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 7px 0;
}

.results-box__companies-results-box form button:disabled {
  background-color: #e5eaed;
  border: 1px solid #c6d2d9;
  color: #888;
  cursor: unset;
}

.results-box__payment-link-box {
  text-align: center;
}

input.phone-error, input.email-error {
  background: #FA8072 !important;
  border: 1px solid #FF0000 !important;
}

.selection-title {
  background: #fff1bc;
  color: #555;
  border: 1px solid #ffeda8;
}

.selection-search__input input {
  font-size: 15px;
}

.selection-search__icon {
  width: 16px;
  margin-top: 1px;
}

.selection-search__input {
  padding: 0 40px 0 28px;
}

main {
  max-height: calc(100vh - 43px);
}

.main__inner-wrapper-headers {
  max-width: unset;
  width: calc(100% - 360px);
  padding: 15px 15px 0;
}

.selector-wrapper__results {
  background: #fff;
  top: 43px;
  height: calc(100vh - 43px);
  margin-left: unset;
  right: 15px;
}

.selector-wrapper {
  overflow-y: auto;
}

.app-layout {
  border: none;
}

.app-header__inner-top {
  height: auto;
  background: transparent;
}

.selection-container {
  border: none;
  padding: 15px;
}

.selector-wrapper__selection {
  width: unset;
  flex: 1 1 auto;
}

.selector-wrapper__results-placeholder {
  flex: 0 0 360px;
}

.selection-block:first-child .selection-block__header {
  margin: 0 0 10px;
}

.list-item__name-history {
  color: #999;
  font-size: 12px;
}

.selection-list__item.list-item.search-item.level-1 .list-item__marker, .selection-list__item.list-item.search-item.level-1 .list-item__marker-replacer {
  flex-basis: 15px;
}

.selection-list__item.list-item.search-item.level-2 .list-item__marker, .selection-list__item.list-item.search-item.level-2 .list-item__marker-replacer {
  flex-basis: 30px;
}

.selection-list__item.list-item.search-item.level-3 .list-item__marker, .selection-list__item.list-item.search-item.level-3 .list-item__marker-replacer {
  flex-basis: 45px;
}

.selection-filters-mob-container .results-box__filters-box {
  display: none;
}

.main__inner-wrapper-headers {
  padding-top: 0;
}

@media screen and (max-width: 991px) {

  .main__inner-wrapper-headers {
    width: calc(100% - 280px);
  }

  .selector-wrapper__results-placeholder {
    flex-basis: 280px;
  }

  .selector-wrapper__results {
    width: 280px;
  }

  .results-box__get-data-box button, .results-box__companies-results-box form button {
    font-size: 15px;
  }
}

@media screen and (max-width: 767px) {
  body, html {
    height: unset;
    overflow: unset;
  }

  .app-layout {
    display: block;
    height: unset;
    overflow-y: unset;
  }

  main {
    max-height: unset;
    height: auto;
  }


  .selector-wrapper__results-placeholder {
    display: none;
  }

  .selector-wrapper__results {
    top: 43px;
    right: unset;
    //bottom: unset;
    height: auto;
    width: 100%;
    margin-left: unset;
    top: unset;
    bottom: 0;
  }

  .results-box {
    padding: 0;
    border: none;
  }

  .selector-wrapper__results .results-box__filters-box {
    //margin-bottom: 15px;
    //border: none;
    //padding: 0;
    display: none;
  }

  .results-box__completion-box {
    border: none;
    padding: 10px 15px;
    min-height: unset;
  }

  .main__inner-wrapper-headers {
    width: 100%;
    //margin-top: 100px;
  }

  .results-box__filters-box h3 {
    display: none;
  }

  .results-box__messages-start h3 {
    display: block;
  }

  .selection-filters-mob-container .results-box__filters-box {
    margin-bottom: 0;
    width: 100%;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }
}

@media screen and (max-width: 579px) {
  .selection-filters-mob-container .results-box__filters-box {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.selection-list li {
  background: #fff;
}


.list-item-enter {
  opacity: 0;
}

.list-item-enter-active {
  opacity: 1;
  transition: opacity 400ms ease-in;
}

.list-item-exit {
  opacity: 1;
}

.list-item-exit-active {
  opacity: 0;
  transition: opacity 400ms ease-in-out;
}

/*
.selection-list-level-1, .selection-list-level-2 {
  transition: max-height 400ms ease-out;
}
*/

.spinner-main-loader {
  padding: 25px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}


.spinner-border {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 4rem;
  vertical-align: text-bottom;
  border: .5em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border .75s linear infinite;
  animation: spinner-border .75s linear infinite;
}

.spinner-border-sm {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-width: .2em;
  margin: 0 20px 0 -20px;
}

@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}

//
//body > div:first-child {
//  display: none;
//}

