.results-box__filters-box {
  margin-bottom: 15px;
  width: 100%;
  border: 1px solid #c6d2d9;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 15px 0;
}

.results-box__filters-box > h3 {
  text-transform: uppercase;
}

.results-box__filters-box > div {
  padding: 5px 15px;
  text-align: left;
}

.filters-box__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filters-box__heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 220px;
}

.filters-box__heading :first-child {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
}

.filters-box__heading :last-child {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}

.filters-box__heading + input {
  display: block;
  margin: 0 auto
}

.results-box__completion-box {
  min-height: 100px;
  width: 100%;
  border: 1px solid #c6d2d9;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 15px 15px 10px;
}

.results-box__messages-start h3 {
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
}

.results-box__cities-count {
  padding-left: 15px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.results-box__get-loader-box, .results-box__get-loader-box-2 {
  padding: 25px 0 25px;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
}

.results-box__get-loader-box-2 {

}

.results-box__get-data-box button {
  width: 100%;
  border-radius: 3px;
  background-color: #ff8484;
  border: 1px solid #ff8484;
  padding: 10px 0;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 7px 0;
}

.results-box__get-data-box button:disabled {
  background-color: #e5eaed;
  border: 1px solid #c6d2d9;
  color: #888;
  cursor: unset;
}

.results-box__companies-results-box h3 {
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
}

.results-box__companies-results-box {
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
}

.results-box__companies-results-box > div {
  padding-left: 15px;
}

.results-box__full-price {
  margin: 0 0 5px 0;
}

.results-box__full-price span {
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
}

.results-box__companies-results-box form input {
  font-weight: 400;
  font-size: 14px;
  width: 100%;
  height: 36px;
  padding: 0 8px;
  border: 1px solid #c6d2d9;
  margin-bottom: 5px;
}

.results-box__companies-results-box form label {
  font-weight: 400;
  font-size: 14px;
  color: #666
}

.results-box__companies-results-box form button {
  width: 100%;
  border-radius: 3px;
  background-color: #ff8484;
  border: 1px solid #ff8484;
  padding: 10px 0;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 7px 0;
}

.results-box__companies-results-box form button:disabled {
  background-color: #e5eaed;
  border: 1px solid #c6d2d9;
  color: #888;
  cursor: unset;
}

.results-box__payment-link-box {
  text-align: center;
}

input.phone-error, input.email-error {
  background: #FA8072;
  border: 1px solid #FF0000;
}